#SaquinhoComponent {
    width: fit-content;
    margin-right: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .overlay {
        display: none;
    }
}

#SaquinhoComponent {
    svg {
        margin-right: 10rem;
        margin: 0;
    }
    .overlay {
        top: 8rem;
        display: block;
        position: absolute;
        z-index: 1;
        background-color: white;
        border-radius: 15px;
        padding: 1.2rem;
        color: darkgoldenrod;
        > ul {
            margin: 0;
            padding: 0;
            > li {
                list-style-type: none;
            }
            > hr {
                color: lightgoldenrodyellow;
                width: 100%;
                border-top: 1px;
            }
            > hr:last-of-type {
                display: none;
            }
        }
    }
}