#CandyListComponent {
    > div {
        display: flex;
        align-items: center;
        h1 {
            width: 100%;
            color: goldenrod;
        }
    }
    > ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        > li {
            list-style: none;
        }
    }
}